[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gspread = "*"
oauth2client = "*"
httplib2 = "*"

[dev-packages]

[requires]

[scripts]
start = "python src/__main__.py"
